<p id="notice"><%= notice %></p>

<h1>Listado de Servicios</h1>
<%= link_to 'Solicitar servicio', new_user_service_path(@user) %>
<table>
  <thead>
    <tr>
      <th>Co confirmacion</th>
      <th>Fe fecha</th>
      <th>Fe hora</th>
      <th>Nu telefono</th>
      <th>Ss costo estimado</th>
      <th>Ss costo final</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.co_confirmacion %></td>
        <td><%= service.fe_fecha.to_s %></td>
        <td><%= service.fe_hora.to_s %></td>
        <td><%= service.nu_telefono %></td>
        <td><%= service.ss_costo_estimado %></td>
        <td><%= service.ss_costo_final %></td>
        <td><%= link_to 'Ver', user_service_path(@user, service) %></td>
        <td><%= link_to 'Editar', edit_user_service_path(@user,service) %></td>
        <td><%= link_to 'Eliminar', [@user,service] , method: :delete, data: { confirm: '¿Esta seguro de eliminar este servicio?' } %></td>
        <td><%= link_to 'Feedback', '#' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


