<p id="notice"><%= notice %></p>
<p>
  <strong>Codigo de Confirmacion:</strong>
  <%= @service.co_confirmacion %>
</p>
<p>
  <strong>Direccion Origen:</strong>
  <%= @a1.tipo_street.no_tipo_via  %>
  <%= @a1.street %>
  <%= @a1.nu_casa  %>
  <%= @a1.district.no_distrito %>
</p>
<p>
  <strong>Direccion Destino:</strong>
  <%= @a2.tipo_street.no_tipo_via  %>
  <%= @a2.street %>
  <%= @a2.nu_casa  %>
  <%= @a2.district.no_distrito %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @service.fe_fecha.to_s %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @service.fe_hora.to_s(:time) %> horas
</p>

<p>
  <strong>Telefono de contacto:</strong>
  <%= @service.nu_telefono %>
</p>

<p>
  <strong>Costo aproximado:</strong>
  <%= @service.ss_costo_estimado %>
</p>

<p>
  <strong>Tipo de Vehiculo:</strong>
  <%= @tipo_vehicle.no_tipo %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @status.no_status %>
</p>
<% if @chofer && session[:role] == "user" %>
<p>
  <strong>Conductor:</strong>
  <%= @chofer.no_driver %>
</p>
<% end %>

<%= link_to 'Volver', current_user %>
<% if logged_in? && session[:role] == "driver" %>
  <%= form_for [current_user, @service], method: :patch do |f| %>
    <%= f.hidden_field :driver_id, value: current_user.id %>
    <%= f.hidden_field :status_id, value: 2 %>
    <%= f.submit 'Capturar Servicio' %>
  <% end %>
<% end %>