<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
<div class="row">
  <div class="col-md-5">
  <div class="form-group">
    <%= f.input :no_user, label: "Nombre:" , input_html: { class: 'form-control' } %>
    <%= f.input :no_correo, label: "Correo:", input_html: { class: 'form-control' } %>
    <%= f.input :password, input_html: { class: 'form-control' }  %>
    <%= f.input :password_confirmation, label: 'Confirmar contraseña:', input_html: { class: 'form-control' }  %>
  </div>

  <div class="form-actions">
    <%= f.submit "Enviar", :class => 'btn btn-primary btn-sm', label: "Enviar" %>
  </div>
</div>
</div>
<% end %>
