<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nu_casa %>
    <%= f.input :tx_edif_dpto %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
