<p id="notice"><%= notice %></p>

<p>
  <strong>Nu casa:</strong>
  <%= @address.nu_casa %>
</p>

<p>
  <strong>Tx edif dpto:</strong>
  <%= @address.tx_edif_dpto %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
