<%= simple_form_for(@driver) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :no_driver %>
    <%= f.input :no_correo %>
    <%= f.input :nu_telefono %>
    <%= f.input :password_digest %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
