<% provide(:title, @driver.no_driver) %>
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-4">
		<h2><%= gravatar_for_driver @driver %>
 		<%= @driver.no_driver %>
		</h2>
		<%= link_to 'Editar datos', edit_driver_path(@driver) %>
		<%= link_to 'Capturar Servicio', "#" %>
	</div>
</div>  