<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :no_marca %>
    <%= f.input :no_modelo %>
    <%= f.input :nu_placa %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
