<p id="notice"><%= notice %></p>

<p>
  <strong>No marca:</strong>
  <%= @vehicle.no_marca %>
</p>

<p>
  <strong>No modelo:</strong>
  <%= @vehicle.no_modelo %>
</p>

<p>
  <strong>Nu placa:</strong>
  <%= @vehicle.nu_placa %>
</p>

<%= link_to 'Editar', edit_driver_vehicle_path(@driver,@vehicle) %> |
<%= link_to 'Volver', driver_vehicles_path(@driver) %>
